{{ $img := .Get "img" }}
{{ if $img }}
{{ $context := . }}
<div class="hero" style="background-image: url({{ $img }}); ">
    {{ with $context.Get "title" }}<h1 style="color: #fff; margin-top: 1px;">{{ . }}</h1>{{ end }}
    {{ with $context.Get "description" }}<p style="color: #fff;">{{ . }}</p>{{ end }}
    <div class="buttons">
      {{ range seq 1 3 }}

        {{ $button := $context.Get (printf "button%d" .) }}
        {{ $href := $context.Get (printf "href%d" .) }}
        {{ if and $button $href }}
          <a href="{{ $href }}">{{ $button }}</a>
        {{ end }}

      {{ end }}
    </div>
</div>
{{ end }}