<div class="events">
    <div class="event-cards">
        {{ $context := . }}
        {{ range seq 1 5 }}
        {{ if $context.Get (printf "title%d" .) }}
        <div class="event-card">
            {{ with $context.Get (printf "title%d" .) }}<p style="color: #369; font-size: 1.2rem; font-weight: 600; text-align: center; margin-top: 1px; margin-bottom: 10px;">{{ . }}</p>{{ end }}
            {{ with $context.Get (printf "time%d" .) }}<p>{{ . }}</p>{{ end }}
            {{ with $context.Get (printf "location%d" .) }}<p>{{ . }}</p>{{ end }}
            {{ with $context.Get (printf "href%d" .) }}
            <p>
                <div class="buttons-small"><a href="{{ . }}">更多信息</a></div>
            </p>
            {{ end }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
