$light: (
    footer-background-color: #FFFFFF,
    footer-color: #444444,
    link: #336699,
    link-hover: #44AABB,
    title-color: #336699,
    meta-color: #444444,
    body-color: #444444,
    hr-color: #DDDDDD,
    body-background-color: #FFFFFF,
    backdrop-background-color: #EAEAEA,
    dropdown-border-top-color: #EAEAEA,
    dropdown-item-active-background-color: #EAEAEA,
    dropdown-content-background-color: #FFFFFF,
    dropdown-item-hover-background-color: #CCCCCC,
    dropdown-item-hover-color: #FFFFFF,
    dropdown-item-color: #666666,
    navbar-border-bottom-color: #EAEAEA,
    navbar-background-color: #FFFFFF,
    navbar-mobile-background-color: #EFEFEF,
    navbar-title-color: #666666,
    navbar-title-hover-color: #44AABB,
    navbar-title-active-color: lighten(#336699, 5%),
    navbar-menu-hover-background-color: lighten(#F9F9F9, 3%),
    navbar-dropdown-item-hover-color: #336699,
    sidebar-title-color: #336699,
    sidebar-li-color: #444444,
    taxo-title-color: #336699,
    taxo-num-color: #444444,
    taxo-num-background-color: darken(#FFFFFF, 15%),
    taxo-tags-background-color: darken(#FFFFFF, 2%),
    taxo-tags-color: #444444,
    taxo-series-background-color: darken(#FFFFFF, 2%),
    taxo-series-color: #444444,
    taxo-categories-background-color: darken(#FFFFFF, 2%),
    taxo-categories-color: #444444,
    breadcrumb-item-color: #5577AA,
    breadcrumb-background-color: #FFFFFF,
    breadcrumb-item-active-color: #AAAAAA,
    list-header-title-color: #444444,
    figcaption-color: #CCCCCC,
    figcaption-strong-color: #444444,
    single-hr-background-color: #CCCCCC,
    single-blockquote-border-color: #CCCCCC,
    single-header-title-color: #444444,
    single-contents-title-color: #336699,
    related-header-title-color: #444444,
    related-link-color: #336699,
    content-box-border-color: #AAAAAA,
    content-box-background-color: #FFFFFF,
    burger-menu-color: #777777,
    social-icon-color: #777777,
    social-icon-hover-color: darken(#777777, 20%),
    pagination-link-color: #444444,
    pagination-background-color: #FFFFFF,
    pagination-disabled-color: #CCCCCC,
    pagination-number-color: #888888,
    terms-title-color: #336699,
    terms-title-shadow-color: #444444,
    terms-tags-color: #444444,
    terms-categories-color: #444444,
    terms-series-color: #444444,
    terms-len-color: #555555,
    toc-label-color: #555555,
    toc-title-color: #555555,
    toc-vertical-line: #555555,
    toc-vertical-line-active: #44AABB,
    toc-header-background-color: darken(#FFFFFF, 1.5%),
    toc-header-background-color-hover: darken(#F9F9F9, 3%),
    toc-body-background-color: lighten(#FFFFFF, 1.5%),
    search-placeholder-color: #CCCCCC,
    search-color: #444444,
    search-icon-color: #CCCCCC,
    search-border-color: #EAEAEA,
    search-border-outline-color: rgba(200, 200, 200, 0.6),
    search-border-active-color: #88AAFF,
    search-background-color: #FFFFFF,
    search-content-color: #444444,
    search-content-background-color: #FFFFFF,
    search-hover-background-color: darken(#F9F9F9, 10%),
    search-highlight-color: #FF5566,
    selection-color: #FFFFFF,
    selection-background-color: #FF5566,
    archive-key-color: #FFFFFF,
    archive-meta-color: #444444,
    archive-type-color: #224466,
    archive-key-background-color: #336699,
    archive-type-background-color: #CCCCCC,
    archive-hover-line-color: #FF5566,
    gtt-color: #555555,
    gtt-background-color: #FFFFFF,
    gtt-hover-color: #336699,
    gtt-hover-background-color: darken(#F9F9F9, 10%),
    switch-background-color: #CCCCCC,
    switch-button-color: #FFFFFF,
    switch-active-color: #FF5566,
    gallery-mask-color: #444444,
    gallery-mask-background-color: rgba(240, 240, 240, 0.85),
    contact-input-color: #444444,
    contact-input-background-color: #FFFFFF,
    contact-button-background-color: #FFFFFF,
    custom-scrollbar-foreground-color: #CCCCCC,
    custom-scrollbar-background-color: #FFFFFF,
    share-color: #FFFFFF,
    share-shadow-color: #555555,
    share-background-color: #99AACC,
    donation-background-color: #F1F3F5,
    button-primary-color: $button_light_primary_color,
);
